{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="post">
                           <div clsaa="date">
                             2020年5月31日7:45
                           </div>
                             <h2><a href="/post/1/">今日という一日</a></h2>
                             <p> 眠気まあ多少あり </p>
                         </div>

                         <div class="post">
                           <div clsaa="date">
                             2020年5月31日7:46
                           </div>
                             <h2><a href="/post/2/">明日のこと</a></h2>
                             <p> やることが多くてだるい </p>
                         </div>

                         <div class="post">
                           <div clsaa="date">
                             2020年6月7日14:57
                           </div>
                             <h2><a href="/post/3/">Sample title</a></h2>
                             <p> Test </p>
                         </div>
                </div>
            </div>
        </div>
    </body>
</html>
